<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearadmin.system.mapper.CapitalAccountMapper">

    <resultMap type="com.pearadmin.system.domain.CapitalAccount" id="CapitalAccountResult">
        <result property="accountId"    column="account_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="money"    column="money"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCapitalAccountVo">
        select`account_id`,`user_id`,`create_time`,`money`,`remark` from `capital_account`
    </sql>

    <select id="selectCapitalAccountList" parameterType="com.pearadmin.system.domain.CapitalAccount" resultMap="CapitalAccountResult">
        <include refid="selectCapitalAccountVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and `user_id` = #{userId}</if>
            <if test="money != null "> and `money` = #{money}</if>
        </where>
    </select>

    <select id="selectCapitalAccountById" parameterType="String" resultMap="CapitalAccountResult">
        <include refid="selectCapitalAccountVo"/>
        where `account_id` = #{accountId}
    </select>

    <select id="selectCapitalAccountByUserId" parameterType="String" resultMap="CapitalAccountResult">
        <include refid="selectCapitalAccountVo"/>
        where `user_id` = #{userId}
    </select>

    <insert id="insertCapitalAccount" parameterType="com.pearadmin.system.domain.CapitalAccount">
        insert into `capital_account`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountId != null">`account_id`,</if>
            <if test="userId != null and userId != ''">`user_id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="money != null">`money`,</if>
            <if test="remark != null">`remark`,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountId != null">#{accountId},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="money != null">#{money},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCapitalAccount" parameterType="com.pearadmin.system.domain.CapitalAccount">
        update `capital_account`
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null and userId != ''">`user_id` = #{userId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="money != null">`money` = #{money},</if>
            <if test="remark != null">`remark` = #{remark},</if>
        </trim>
        where `account_id` = #{accountId}
    </update>

    <delete id="deleteCapitalAccountById" parameterType="String">
        delete from `capital_account` where `account_id` = #{accountId}
    </delete>

    <delete id="deleteCapitalAccountByIds" parameterType="String">
        delete from `capital_account` where `account_id` in
        <foreach item="accountId" collection="array" open="(" separator="," close=")">
            #{accountId}
        </foreach>
    </delete>

</mapper>
